.container {
    margin: 0 auto;
    width : 1200px;
    height: 2200px;
    /* background-color: aqua; */
}


#HeaderTitle {
    width: 1200px;
    height: 540px;  
    background-image: url(../../images/보행교1-1.jpg);
    margin-top: 0px;
    background-repeat: no-repeat;
    background-position: left top;
    text-align: center;
    margin-bottom: 100px;
}

.header1 a { 
    color: #ff0;
    font-size: 2em;
    text-decoration: none;
}

#content1 {
    width: 1200px;
    height: 300px;  
    /* background-color: #ff0; */
    margin-top: 0px;
    text-align: center;
    border: 1px solid blue;
    margin-bottom: 100px;
}
#content1-1 {
    width: 600px;
    height: 400px;  
    /* background-color: rgb(26, 97, 145); */
    margin-top: 0px;
    text-align: center;
    float: left;
}
#content1-2 {
    width: 600px;
    height: 300px;  
    background-color: rgb(149, 151, 153);
    margin-top: 0px;
    text-align: center;
    float: right;
    /* margin-top: 50px; */
}

#content2 {
    width: 1200px;
    height: 300px;  
    margin-top: 0px;
    text-align: center;
    margin-bottom: 100px;
}

#content3 {
    width: 1200px;
    height: 400px;  
    margin-top: 0px;
    border: 1px solid blue;
    margin-bottom: 100px;
}
#content3-1 {
    width: 600px;
    height: 400px;  
    margin-top: 0px;
    float: left;
}

#content3-2 {
    text-align: left;
    width: 590px;
    height: 390px;  
    background-color: rgb(149, 151, 153);
    margin-top: 0px;
    text-align: left;
    float: right;
    padding-left: 10px;
    padding-top: 10px;
}

#content4 {
    margin: 0 auto;
    text-align: center;
    font-size: 16pt;
    font-weight: bolder;
    width: 1200px;
    height: 500px;  
    margin-top: 0px;
    /* border: 1px solid blue; */

}

table, .tr1, .td1, .td2 {
    border: 1px solid gray;
    margin: 0px;
    font-weight: bolder;
}

.td1 {
    width: 300px;
    height: 50px;
}

p {
    font-size: larger;
    font-weight: bolder;
    font-style:oblique
}

a {
    text-decoration: none;
    color: blue;
}

#link1 {
    font-size: 22pt;
}

@media screen and (min-width:600px) and (max-width:1200px){

    .container {
        width : 600px;
        /* background-color: aqua; */
    }
    
    
    #HeaderTitle {
        width: 600px;
        height: 350px;  
        background-image: url(../../images/보행교1-1.jpg);
        background-repeat: no-repeat;
        background-position: left top;
        text-align: center;
        margin-bottom: 50px;
        background-size: 100%;
    }
    
    .header1 a { 
        color: #ff0;
        font-size: 1em;
        text-decoration: none;
    }
    
    #content1 {
        width: 600px;
        height: 600px;  
        /* background-color: #ff0; */
        margin-top: 0px;
        text-align: center;
        border: 1px solid blue;
        margin-bottom: 100px;
    }
    #content1-1 {
        width: 600px;
        height: 300px;  
        /* background-color: rgb(26, 97, 145); */
        margin-top: 0px;
        text-align: center;
        float: left;
    }
    #content1-2 {
        width: 600px;
        height: 300px;  
        background-color: rgb(149, 151, 153);
        margin-top: 0px;
        text-align: center;
        float: right;
        /* margin-top: 50px; */
    }
    
    #content2 {
        width: 600px;
        height: 200px;  
        margin-top: 0px;
        text-align: center;
        margin-bottom: 50px;
    }
    
    #content3 {
        width: 600px;
        height: 450px;  
        margin-top: 0px;
        border: 1px solid blue;
        margin-top: 150px;
    }
    #content3-1 {
        width: 600px;
        height: 200px;  
        margin-top: 0px;
        float: left;
    }
    
    #content3-2 {
        text-align: left;
        width: 600px;
        height: 250px;  
        background-color: rgb(149, 151, 153);
        margin: 0px;
        text-align: center;
        float: right;
        padding-left: 0px;
        padding-top: 0px;
        font-size: 10pt;
    }
    
    
    table, .tr1, .td1, .td2 {
        border: 1px solid gray;
        margin: 0px;
        font-weight: bolder;
    }
    
    .td1 {
        width: 150px;
        height: 30px;
    }
    
    p {
        /* font-size: larger; */
        font-weight: bolder;
        font-style:oblique
    }

    #content4 {
        margin: 0 auto;
        text-align: center;
        font-size: 10pt;
        font-weight: bolder;
        width: 600px;
        height: 500px;  
        margin-top: 0px;
        /* border: 1px solid blue; */
    }

    #pic {
        width: 600px;
        height: 400px;
    }

    #pic2 {
        width: 600px;
        height: 400px;
    }

    #link1 {
        font-size: 15pt;
    }
    
}




@media screen and (max-width:599px){

    .container {
        width : 300px;
        /* background-color: aqua; */
    }
    
    
    #HeaderTitle {
        width: 300px;
        height: 200px;  
        background-image: url(../../images/보행교.jpg);
        background-repeat: no-repeat;
        background-position: left top;
        text-align: center;
        margin-bottom: 50px;
        background-size: 100%;
    }
    
    .header1 a { 
        color: #ff0;
        font-size: 0.5em;
        text-decoration: none;
    }
    
    #content1 {
        width: 300px;
        height: 600px;  
        /* background-color: #ff0; */
        margin-top: 0px;
        text-align: center;
        border: 1px solid blue;
        margin-bottom: 50px;
    }
    #content1-1 {
        width: 300px;
        height: 300px;  
        /* background-color: rgb(26, 97, 145); */
        margin-top: 0px;
        text-align: center;
        float: left;
    }
    #content1-2 {
        width: 300px;
        height: 300px;  
        background-color: rgb(149, 151, 153);
        margin-top: 0px;
        text-align: center;
        float: right;
        font-size: 10pt;
        /* margin-top: 50px; */
    }
    
    #content2 {
        width: 300px;
        height: 200px;  
        margin-top: 0px;
        text-align: center;
        margin-bottom: 25px;
    }
    
    #content3 {
        width: 300px;
        height: 450px;  
        margin-top: 0px;
        border: 1px solid blue;
        margin-top: 75px;
    }
    #content3-1 {
        width: 300px;
        height: 200px;  
        margin-top: 0px;
        float: left;
    }
    
    #content3-2 {
        text-align: left;
        width: 300px;
        height: 250px;  
        background-color: rgb(149, 151, 153);
        margin: 0px;
        text-align: center;
        float: right;
        padding-left: 0px;
        padding-top: 0px;
        font-size: 8pt;
    }
    
    .td1 {
        width: 70px;
        height: 30px;
        font-size: 8pt;   
    }
    
    .td2 {
        width: 350px;
        height: 30px;
        font-size: 8pt;
    }
    
    p {
        /* font-size: larger; */
        font-weight: bolder;
        font-style:oblique
    }

    #content4 {
        margin: 0 auto;
        text-align: center;
        font-size: 6pt;
        font-weight: bolder;
        width: 300px;
        height: 500px;  
        margin-top: 0px;
        /* border: 1px solid blue; */
    }

    #pic, #pic2, #pic3, #pic4 {
        width: 300px;
        height: 400px;
    }

    #link1,#link3 {
        font-size: 11pt;
    }
    
}



