header {
  width: 100%;
  height: 100px;
}
#container{
  width: 1180px;
  margin: 0 auto;
}
section{
  width: 1180px;
  height: 1800px;
  /* background-color: aqua; */
}
#left{
  margin-left: 10%;
}
#right{
  margin-right: 10%;
  }
.top1 {
  float: left;
  margin: 0 10px;
  font-size: 9pt;
  position: relative;
}
.top2 {
  float: right;
  margin: 0 10px;
  font-size: 9pt;
  position: relative;
}
.top3 {
  float:left;
  margin: 15px 25px;
  font-size: 18pt;
  position: relative;
}
.top4 {
  float:left;
  position: relative;
}
ul li, a {
  list-style: none;
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: black;
}
body{
  text-align: center;
}
footer{
  clear: both;
  height: 300px;
  margin: 0 auto;
} 
#content1 {
  float:left;
  width: 1180px;
  height:600px;
  margin: 0 auto 200px auto;
  /* background-color: yellow; */
}
#logo {
  width: 1180px;
  height:80px;
  margin-left: 15%;
}
  
#content2{
  float:left;
  width: 600px;
  height: 300px;
  margin: 0 25% 220px 25%;
  /* background-color: blue; */
}
#content2-1, #content2-2 {
  float: left;
  width: 300px;
  height: 270px;
  background-color: khaki;
  font-style: italic;
  color: brown;
  }
#content2-1{
  background-image: url(../../images/김치.jpg);
}
#content2-2 {
  font-size: 18pt;
  font-weight: bolder;
  padding-right: 0px;
}

#content3 {
  float:left;
  width: 1100px;
  height: 520px;
  /* background-color: rgb(228, 10, 10); */
  margin-left: 7%;
}
#content3-1, #content3-2, #content3-3 {
  float: left;
  width: 300px;
  margin: 7px;
  height: 200px;
  padding: 20px;
}
#content3-1 {
  /* background-color: blue; */
  width: 600px;
  height: 456px;
  background-image: url(../../images/이마트사진1.jpg) ;
}
#content3-2 {
  background-image: url(../../images/이마트사진2.jpg) ;
}
#content3-3 {
  background-image: url(../../images/이마트사진3.jpg) ;
}
#sale {
  font-size: 20pt;
  font-weight: bolder;
}
  #sale2 {
  font-size: 20pt;
  font-weight: bolder;
  margin-right: 90px;
}
legend {
  border: 1px solid gray;
  height: 50px;
}

@media screen and (min-width:600px) and (max-width:1023px) {

  header {
    width: 50%;
    height: 50px;
  }
  #container{
    width: 50%;
    margin: 0 auto;
  }
  section{
    width: 50%;
    height: 50%;
    /* background-color: aqua; */
  }
  #left{
    margin-left: 5%;
  }
  #right{
    margin-right: 5%;
    }
  .top1 {
    margin: 0 5px;
    font-size: 7pt;
    position: relative;
  }
  .top2 {
    margin: 0 5px;
    font-size: 7pt;
    position: relative;
  }
  .top3 {
    margin: 10px 15px;
    font-size: 10pt;
    position: relative;
  }
  .top4 {
    float:left;
    position: relative;
  }
  footer{
    clear: both;
    height: 150px;
    margin: 0 auto;
  } 
  #content1 {
    float:left;
    width: 50%px;
    height:300px;
    margin: 0 auto 100px auto;
    /* background-color: yellow; */
  }
  #logo {
    width: 50%;
    height:50px;
    margin-left: 8%;
  }
    
  #content2{
    float:left;
    width: 300px;
    height: 150px;
    margin: 0 15% 110px 15%;
    /* background-color: blue; */
  }
  #content2-1, #content2-2 {
    float: left;
    width: 150px;
    height: 130px;
    background-color: khaki;
    font-style: italic;
    color: brown;
    }
  #content2-1{
    background-image: url(../../images/김치.jpg);
    width: 50%;
  }
  #content2-2 {
    font-size: 10pt;
    font-weight: bolder;
    padding-right: 0px;
  }
  
  #content3 {
    float:left;
    width: 50%px;
    height: 50%px;
    /* background-color: rgb(228, 10, 10); */
    margin-left: 4%;
  }
  #content3-1, #content3-2, #content3-3 {
    float: left;
    width: 150px;
    margin: 4px;
    height: 100px;
    padding: 10px;
  }
  #content3-1 {
    /* background-color: blue; */
    width: 50%;
    height: 50%;
    background-image: url(../../images/이마트사진1.jpg) ;
  }
  #content3-2 {
    background-image: url(../../images/이마트사진2.jpg);
    width: 50%;
  }
  #content3-3 {
    background-image: url(../../images/이마트사진3.jpg);
    width: 50%;
  }
  #sale {
    font-size: 10pt;
    font-weight: bolder;
  }
    #sale2 {
    font-size: 10pt;
    font-weight: bolder;
    margin-right: 45px;
  }
  legend {
    border: 1px solid gray;
    height: 30px;
  }


  
}